// Customize Theme Color here
$primary-color: #2B50AA;
$secondary-color: #E9D758;
$neural-color: #FF8552;
$base-white: #EBF2FA;
$white: #FFFFFF;
$light-white: #F7F6F8;
$black: #272727;

//fonts here
$font-family-base-main: 'DM Sans', sans-serif;

//maximum width
$max-width: 1440px;
$over-max-width: 1920px;