{% load static %}

<nav class="border-b border-primary_c sticky top-0 z-50 bg-white">
    <div class="container">
        <div class="flex items-center justify-between h-24">
            <a href="{% url 'main_home' %}">
                {% include "clientapp/components/logo.html" %}
            </a>
            <ul class="lg:flex items-center lg:gap-8 gap-12 hidden">
                <!-- <li class="relative">
                    <input class="outline-none border-none bg-light_white w-60" type="search" name="search" id="search">
                    <img class="absolute top-1 right-2 bg-transparent" src="{% static 'assets/search.svg' %}" alt="SVG Image">
                </li> -->
                {% for item in menu_items %}
                    <li class="{% if request.resolver_match.url_name == item.url_name %} active {% endif %}">
                        <a href="{% url item.url_name %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="lg:flex items-center gap-5 hidden">
                <a href="{% url 'login' %}" class="underline-button-wrapper font-bold text-base">login</a>
                <a href="{% url 'register' %}" class="flip-button-wrapper">sign up free</a>
            </div>
            <button id="toggleButton" type="button" class="lg:hidden block hamburger_menu">
                <img class="inline" id="openIcon" src="{% static 'assets/openmenu.svg' %}" alt="SVG Image">
                <img class="hidden" id="closeIcon" src="{% static 'assets/closemenu.svg' %}" alt="SVG Image">
            </button>
            <nav id="mobileMenu" class="fixed h-screen w-96 top-0 right-0 transition-all delay-100 duration-500 border-l border-black translate-x-96 bg-white">
                <button id="closeSide" type="button" class="hamburger_menu flex justify-center items-center w-full py-5">
                    <img class="border rounded-full p-1 border-black" src="{% static 'assets/closemenu.svg' %}" alt="SVG Image">
                </button>
                <ul class="bg-transparent py-4 px-10 capitalize grid gap-3 font-semibold navbar_active">
                    {% for item in menu_items %}
                    <li class="menu-item {% if request.resolver_match.url_name == item.url_name %} active {% endif %}">
                        <a class="hover:text-primary_c transition-all duration-300 mobile_menu_list" href="{% url item.url_name %}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="flex items-center justify-center gap-8 pt-5">
                        <a href="{% url 'login' %}" class="underline-button-wrapper font-bold text-base mobile_menu_list">login</a>
                        <a href="{% url 'register' %}" class="flip-button-wrapper mobile_menu_list">sign up free</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>
